.fondo_product {
  width: 100%;
  height: 100vh;
  background: radial-gradient(52.48% 83.1% at 50% 50%, #125B88 0%, #003E5B 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.box1_product {
  flex: 50%;
  width: 80%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.img_pc_product {
  width: 20rem;
  
}

.box2_product {
  flex: 50%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.titulo_product {
  color: #22DCBE;
  font-family: Kanit;
  font-size: 1.7rem;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}

.descripcion_product {
  color: #FFF;
  font-size: 14px;
  text-align: left;
  text-align: justify;
  line-height: normal;
  word-break: auto-phrase;
}

.marquesina {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 8rem;
  font-weight: 900;
  z-index: 1;
  opacity: 0.05;
  overflow: hidden;
}

.palabra_marq {
  color: #FFF;
  height: 33%;
}

@media (min-height: 660px) {
  .fondo_product {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .box1_product{
    justify-content: flex-end;
    margin-bottom: 1rem;
    width: 90%;
  }
  .box2_product{
    justify-content: flex-start;
  }
  .img_pc_product {
    width: 28rem;
  }


  .titulo_product {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
  .descripcion_product {
    font-size: 1rem;   
  }

  .marquesina {
    font-size: 12rem;
  }
}
@media (min-height: 800px) {

 .product{
    margin-bottom: 2rem;
    width: 90%;
  }
  
  .img_pc_product {
    width: 35rem;
  }


  .titulo_product {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
  .descripcion_product {
    font-size: 1.2rem;  
    
  }

  .marquesina {
    font-size: 12rem;
  }
}

@media (min-width: 500px) and (min-height: 670px) {
  .img_pc_product {
    width: 35rem;
  }

  .titulo_product {
    font-size: 3.7rem;
    margin-bottom: 2rem;
  }

  .descripcion_product {
    font-size: 2rem;
  }

  .marquesina {
    font-size: 14rem;
  }
}

@media (min-width: 950px) {
  .fondo_product {
    flex-direction: row-reverse;
  }
  .box1_product{
    justify-content: center;
  }
  .box2_product{
    justify-content: center;
  }

  .titulo_product {
    width: 80%;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .descripcion_product {
    width: 80%;
    font-size: 1.4rem;
  }
}

@media (min-width: 1380px) {
  
  .img_pc_product {
    width: 38rem;
  }

  .descripcion_product {
     font-size: 1.5rem;
  }


}