.fondo_product {
  width: 100%;
  height: 100vh;
  background: radial-gradient(52.48% 83.1% at 50% 50%, #125B88 0%, #003E5B 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.box1_product {
  flex: 50%;
  width: 80%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img_pc_product {
  max-width: 20rem;
}

.box2_product {
  flex: 50%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo_product {
  color: #22DCBE;
  font-style: normal;
  line-height: normal;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.descripcion_product {
  color: #FFF;
  text-align: justify;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.1rem;
}

@media (min-height: 670px) {
  .img_pc_product {
    max-width: 22rem;
  }
  .fondo_product {
    padding: 1.5rem 0;
  }
  
  .titulo_product {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 500px) and (min-height: 670px) {
  .img_pc_product {
    max-width: 28rem;
  }
  .fondo_product {
    padding: 2rem 0;
  }
   
  .titulo_product {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .descripcion_product {
    font-weight: 600;
    font-size: 1.6rem;
  }
}

@media (min-width: 1380px){
  .fondo_product {
    padding: 0 3rem;
   
  }
  .img_pc_product {
    max-width: 28rem;
  }
  
  .box2_product {
    height: 100%;
  }
  
  .titulo_product {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .descripcion_product {
    font-weight: 600;
    font-size: 1.6rem;
    max-width: 80%;
  }
}

@media (min-width: 950px){
  .fondo_product {
    padding: 0 2rem;
    flex-direction: row;
  }
  .img_pc_product {
    max-width: 31rem;
  }
    
  .titulo_product {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .descripcion_product {
    font-size: 1.6rem;
  }
}