/* NuevoComponente.module.css */
.teamTitle {
    text-align: center;
    color: #22DCBE;
  font-family: Kanit;
  font-size: 1.7rem;
  line-height: normal;
  text-transform: uppercase;
  font-size: xx-large;
  

  }
  