.contfoot {
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    color: black;
}

.box1 {
    width: 80%;
    padding-bottom: 1.5rem;
}

.p_foot {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
    font-weight: 300;
    color: #7F8988;
    overflow-wrap: break-word;
}

.img_logo_foot {
    width: 15rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.box2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #7F8988;
}

.redes_foot {
    width: 6rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 0.6rem;
    text-align: center;
    font-family: "Kanit";
}

.uno {
    width: 3.5rem;
    margin-bottom: 0.5rem;
}

.tres {
    width: 2.5rem;
    margin-bottom: 0.5rem;
}

.h5_foot {
    width: 90%;
    padding: 1rem 0;
    text-align: center;
    font-family: "Kanit";
    font-weight: 400;
    color: #7F8988;
}

@media (min-width: 500px) and (min-height: 670px) {

    .contfoot {
        height: 25rem;
        position: relative;
    }

    .h5_foot {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 1000px) {
    .contfoot {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .box1 {
        flex: 50%;
        /* width: 100%; */
        padding:  0 ;
        margin-bottom: 1rem;
    }
    .p_foot{
        width: 60%;
        font-size: 1.3rem;
        margin: 0 auto;
    }
    
         
    .img_logo_foot {
        width: 20rem;
        padding-bottom: 0.5rem;
    }
    
    .box2 {
        flex: 50%;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .redes_foot {
        
        flex-direction: row;
        justify-content: flex-start;
    }
   
    .uno {
        width: 3.5rem;
        margin: 1rem;
    }
    
    .tres {
        width: 2.5rem;
        margin: 1rem;
    }
    
}