.contfoot {
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.box1 {
    width: 80%;
    padding-bottom: 1.5rem;
}

.box1 p {
    width: 80%;
    font-size: 1rem;
    text-align: justify;
    font-weight: 300;
}

.img_logo_foot {
    max-width: 15rem;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.box2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes_foot {
    width: 6rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    margin: 0.5rem;
}

.uno {
    width: 3.5rem;
}

.tres {
    width: 2.5rem;
}

.h5_foot {
    width: 90%;
    padding: 1rem 0;
    text-align: center;
}

@media (min-width: 500px) and (min-height: 670px) {

    .contfoot {
        height: 25rem;
        position: relative;
    }

    .h5_foot {
        position: absolute;
        bottom: 0;
    }
}

@media (min-width: 1000px) {
    .contfoot {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .box1 {
        flex: 50%;
        width: 100%;
        padding:  0 ;
    }
    .box1 p{
        width: 80%;
        margin: 0 auto;
    }
    
         
    .img_logo_foot {
        max-width: 20rem;
        padding-bottom: 0.5rem;
    }
    
    .box2 {
        flex: 50%;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    
    .redes_foot {
        
        flex-direction: row;
        justify-content: flex-start;
    }
   
    .uno {
        width: 3.5rem;
        margin: 1rem;
    }
    
    .tres {
        width: 2.5rem;
        margin: 1rem;
    }
    
}