@font-face {
  font-family: "Kanit";
  font-weight: 400;
  src: local("kanit"),
  url('./font/Kanit-Regular.ttf') format('truetype');
  /* font-weight: 900; */
}

@font-face {
  font-family: 'Kanit';
  src: url('./font/Kanit-Bold.ttf') format('truetype');
  font-weight: 600;
  /* font-style: italic; */
}
p{
  font-family: "kanit";
  font-weight: 400;
}
h3{
  font-family: "kanit";
  font-weight: 600;
}

/* *{
  font-family: 'Kanit';
} */

/* Kanit Bold */
/* @font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
} */

/* Kanit Thin */
/* @font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
} */
